.foto {
    display: flex;
}
.imagemajustada{

height: 300px;
}

html {
    font-family: 'Alata', sans-serif;
}

.VerdeVida {
 font-size: 100px;
color: #03cf14
}
body {
    background: url(fundo\ .jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
}

h2 {
color: aliceblue;
font-size: 30px;

}
 h1 {
font-size: 50px;
color: #03cf14;


}
header {
    background-color: rgb(3, 98, 39);
}